-# ＜チャット画面＞
.chat-main
  .chat-main__group-info
    .group
      .group-name
        ドラえもん
      %ul.title 
        Member : 
        %li.member 
          aaa
        
    .edit-btn
      = link_to ""
      Edit
  .chat-main__message-list
  .chat-main__message-form