-# ＜サイドバー＞
.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        mayumi
      .top-items__icons
        = link_to "/" do
          %i.fa.fa-edit
        = link_to "/" do
          %i.fa.fa-cog

  .side-bar__group-list
    .group
      .group__name
        ドラえもん
      .group__message
        まだまだメッセージはありません。
