$dark_blue: #253141;
$white: #ffffff;
$navy_blue: #2f3e51;
$light_gray: #fafafa;
$gray: #d2d2d2;
$dark_black: #333;
$light_blue: #38AEF0;
$border_white: #eeeeee;
$dull_gray: #999;
$deep_blue:  #434a54;